<launch>
    <!-- <include file="$(find simplified_eye_hand_calibration)/rs_camera.launch"> -->
    <include file="$(find simplified_eye_hand_calibration)/launch/astrapro.launch">
    <!-- <include file="$(find simplified_eye_hand_calibration)/percipioCamera_openni2.launch"> -->
    </include>

    <node pkg="simplified_eye_hand_calibration" type="getColorImageAndOdomFromRos" name="getColorImageAndOdomFromRos" output="screen">
        <param name="manualMode" value="false"/>
    </node>


</launch>
