<launch>
    <!-- <include file="./rs_camera.launch"> -->
    <include file="$(find pallet_pocket_detection)/launch/astrapro.launch">
    <!-- <include file="./percipioCamera_openni2.launch"> -->
    </include>

    <!-- <node pkg="simplified_eye_hand_calibration" type="getColorImageAndOdomFromRos" name="getColorImageAndOdomFromRos" output="screen">
    </node> -->


</launch>
